
/* CSS Variables */
:root {
    --main-color: #000000;
    --main-bg-color: #ffffff;
    --main-color-dark: #f0f0f0;
    --main-bg-color-dark: #0f0f0f;
    /* --font-size-base: 16px; */
    --font-size-base: 1.4vw;
    --font-size-large: 2rem;
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, "Helvetica Neue", sans-serif;
    --font-family-monospace: "Roboto Mono", Menlo, monospace;
    --font-family-sans-1: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --font-family-sans-2: Verdana, Geneva, Tahoma, sans-serif;
    --main-padding: 1rem;
    --main-margin: 4rem;
    --body-max-width: 1440px;
}
@media screen and (max-width: 768px) {
    :root {
        --main-margin: 0;
    }
}

html {
    font-size: var(--font-size-base);
}

body {
    font-family: var(--font-family-monospace);
}
body, footer {
    color: var(--main-color-dark);
    background-color: var(--main-bg-color-dark);
}
main, footer, header {
    max-width: var(--body-max-width);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: var(--main-padding) calc(var(--main-margin) + var(--main-padding));
}
footer span {
    cursor: pointer;
}
footer span:hover {
    text-decoration: underline;
}
main {
    min-height: 100vh;
    margin: var(--main-margin);
    padding: var(--main-padding);
}

/* MARGINS */
/* margin bottom */
.title, .lead-text, .body-text, .back-home {
    margin: 0 0 var(--main-padding) 0;
    display: block;
}
.info {
    margin: var(--main-padding) 0 2rem 0;
}
/* margins top, bottom */
img, audio {
    margin: var(--main-padding) 0;
}

.info {
    display: none;
}
.show {
    display: block;
}
.hide {
    display: none;
}

li:not(#now) {
    cursor: pointer;
}
/* .list-entry {} */
.list-entry:not(#now) h2:hover {
    text-decoration: underline;
}
.active:not(#now > h2), .filter-active {
    text-decoration: underline;
}
#now {
    cursor: auto;
    color: gray;
    /* border-top: solid 1px purple;
    border-bottom: solid 1px purple;
    background-color: purple; */
}

#oo {
    min-width: 3rem;
}


h1, h2 {
    /* font-size: var(--font-size-large); */
    font-size: var(--font-size-base);
}
h3, h4 {
    font-size: var(--font-size-base);
}

p {
    margin: 0;
    padding: 0;
}



a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 768px;
}
/* #list img {} */
.full-height {
    height: 100vh;
    width: auto;
    max-width: unset;
}


/* work pages */
#info {
    margin-bottom: 1rem;
}