
/* CSS Variables */
:root {
    --font-size-base: 19px;
    /* --font-size-base: 1.4vw; */
    --font-size-small: 0.75rem;
    --font-size-large: 2rem;
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, "Helvetica Neue", sans-serif;
    --font-family-monospace: "Fira Mono", "Roboto Mono", Menlo, monospace;
    --font-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-sans-2: Verdana, "Open Sans", sans-serif;
    --font-family-serif: "Times New Roman", Times, serif;
    --body-max-width: 950px;
    --break-point: 950px;
    --footer-height: 6em;
    --main-padding: 2rem;
    --main-margin: 4rem;
    --opacity-collapsed: 0.5; /* 50% opacity */
    --nice-green: #459031;
    --light-green: #D1E9C8;
    --disney-google-blue: #B1E2F4;
}

@media screen and (max-width: 950px) {
    :root {
        /* --font-size-base: 125%; */
        --main-margin: 0rem;
        --main-padding: 1rem;
        --footer-height: 4em;
    }
}


body {  
    --bg-color: white;
    --text-color: black;
    /* --text-color: rgb(30, 30, 30); */
    --highlight-color: black;
    --shadow-color: tan;
    --border-color: #ccc;
}
body.dark-mode {
    --bg-color: rgb(15, 15, 15);
    --text-color: #dadada;
    --highlight-color: white;
    --shadow-color: none;
    --border-color: rgb(45, 45, 45);
}
/* @media (prefers-color-scheme: dark) {
    body {
        --bg-color: rgb(15, 15, 15);
        --text-color: #dadada;
        --highlight-color: white;
        --shadow-color: none;
        --border-color: rgb(45, 45, 45);
    }
    body.light-mode {
        --bg-color: white;
        --text-color: black;
        --highlight-color: black;
        --shadow-color: tan;
        --border-color: #ccc;
    }
} */

html {
    font-size: var(--font-size-base);
}
body {
    max-width: var(--body-max-width);
    margin: auto;
    /* margin: 0 var(--main-margin); */
    font-family: var(--font-family-monospace);
    /* letter-spacing: 0.0125em; */
    /* hyphens: auto; */
    /* word-break: break-all; */
    color: var(--text-color);
    background: var(--bg-color); 
}

/* body, header, footer {
    margin: 0 var(--main-margin);
} */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: inherit;
}
footer div {
    max-width: var(--body-max-width);
    margin: auto;
    padding: 1rem var(--main-padding);
}
.filters {
    /* display: block; */
    display: none;
}
@media screen and (max-width: 950px) {
    footer div {
        width: 100%;
    }
    .filters {
        display: none;
    }
    #search {
        display: none;
    }
}
input#search-input {
    margin-right: 1em;
    padding: 0.25em;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
}
textarea:focus, input#search-input:focus{
    outline: none;
}
@media screen and (max-width: 950px) {
    input#search-input {
        width: 100%;
        margin-bottom: 1em;
    }
}

main {
    min-height: 100vh;
    /* max-width: var(--body-max-width); */
    margin-bottom: calc(var(--main-margin) + var(--footer-height));
    padding: var(--main-padding);
}



/* LIST  */


/* ul#list.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
} */
/* #index-list {
    text-transform: uppercase;
} */

/* LIST ENTRIES */

/* li {
    max-width: var(--body-max-width);  
    margin: 0.5rem calc(var(--main-padding) + var(--main-margin));
    border: 1px solid var(--border-color);
} */

/* li:first-child {
    border-top: 1px solid gray;
} */

#list.filtered li:not(.selected) {
    display: none;
}

li:not(#now) h2 {
    cursor: pointer;
}
/* li:not(#now):not(#oo) h2 {
    text-transform: uppercase;
} */
#now {
    color: gray;
    display: block !important;
}
#oo {
    min-width: 3rem;
}


/* .title-index, .title {
} */

.title {
    hyphens: auto;
    margin: 0 0 var(--main-padding) 0;
    /* display: block; */
}

.info {
    display: none;
}
.show {
    display: block;
}
.hide {
    display: none;
}


/* .info, .lead-text, .body-text, .caption {
    font-size: var(--font-size-small);
} */


.lead-text, .body-text, .caption {
    max-width: 600px;
}
.info, .body-text, .caption {
    margin: var(--main-padding) 0 2rem 0;
}
.body-text {
    margin-top: 2rem;
}
blockquote {
    font-style: italic;
    font-size: 16px;
    /* font-family: Verdana, Arial, sans-serif; */
}

::selection, mark {
    background: var(--light-green);
}


#current {
    margin-top: 2rem;
}
.current-section {
    margin-bottom: 2rem;
}

img, audio, video {
    /* margin: var(--main-padding) 0; */
    margin: 2rem 0 var(--main-padding) 0;
}

/* 
h1, h2, h3, h4 {
    font-size: var(--font-size-base);
    font-weight: 700;
} */


a {
    /* text-decoration-color: blue; */
    /* text-decoration-thickness: 0.075em; */
    text-underline-offset: 1.5px;
    text-decoration-skip-ink: auto;
  }
/* a:visited {} */
/* a:focus, a:hover {
    background-color: blue;
} */


label input {
    display: none;
}
#expand {
    min-width: 75px;
}


button:hover, label:hover {
    cursor: pointer;
}
.list-entry:not(#now) h2:hover, button:hover, label:hover, .back-home:hover, .active:not(#now > h2), .filter-active {
    opacity: 1;
    color: var(--highlight-color);
    /* text-shadow: var(--shadow-color) 0 0 1.5em; */
    /* filter: blur(5px); */
}

.collapsed {
    opacity: var(--opacity-collapsed);
}


img {
    cursor: zoom-in;
}
img.landscape {
    max-width: 600px;
    height: auto; 
}
img.portrait {
    max-height: calc(100vh - var(--footer-height));
    width: auto;
}

.gif {
    width: 100%;
    /* max-width: 300px; */
    height: auto;
    cursor: pointer;
}
/* .snap-branch {} */
.twisted-thumb {
    max-width: 300px;
    margin: auto;
}
.twisted-thumb .caption {
    padding-left: 3rem;
    font-size: var(--font-size-small);
}


.full-size {
    cursor: zoom-out;
}
.landscape.full-size {
    max-height: unset;
    max-width: unset;
    width: auto;  
    height: 100vh;
}
.portrait.full-size {
    max-height: unset;
    max-width: unset;
    width: 100vw;  
    height: auto;
}
@media screen and (max-width: 950px) {
    img.portrait {
        width: 100%;
        height: auto;
    }
    .portrait.full-size {
        max-height: unset;
        max-width: unset;
        width: auto;  
        height: 100vh;
    }
}


audio, video { display: block; }
@media screen and (max-width: 375px) {
    audio { width: 100%; }
}
video {
    width: 100%;
    max-width: 600px;
    height: auto;
}



/* work pages */

#info {
    margin-bottom: 1rem;
}