
/* CSS Variables */
:root {
    --main-color: rgb(30, 30, 30);
    --main-bg-color: #dadada;
    --main-color-dark: #dadada;
    --main-bg-color-dark: rgb(30, 30, 30);
    --color-dark-highlight: white;
    /* --font-size-base: 16px; */
    --font-size-base: 1.4vw;
    --font-size-small: 0.75rem;
    --font-size-large: 2rem;
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, "Helvetica Neue", sans-serif;
    --font-family-monospace: "Roboto Mono", Menlo, monospace;
    --font-family-sans-1: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --font-family-sans-2: Verdana, Geneva, Tahoma, sans-serif;
    --main-padding: 1rem;
    --main-margin: 4rem;
    --body-max-width: 1440px;
}
@media screen and (max-width: 768px) {
    :root {
        --main-margin: 0;
    }
}

html {
    font-size: var(--font-size-base);
}

body {
    font-family: var(--font-family-system);
}
body, footer {
    color: var(--main-color-dark);
    background-color: var(--main-bg-color-dark);
}
main, footer, header {
    max-width: var(--body-max-width);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: var(--main-padding) calc(var(--main-margin) + var(--main-padding));
    font-size: var(--font-size-small);
}
footer div {
    display: inline;
}
footer span {
    cursor: pointer;
}
footer span:hover {
    text-decoration: underline;
}

main {
    min-height: 100vh;
    margin: var(--main-margin);
    padding: var(--main-padding);
}

/* MARGINS */
.title, .lead-text, .body-text, .back-home {
    margin: 0 0 var(--main-padding) 0;
    display: block;
}
.info {
    margin: var(--main-padding) 0 2rem 0;
    font-size: var(--font-size-small);
}
/* margins top, bottom */
img, audio {
    margin: var(--main-padding) 0;
}


.info {
    display: none;
}
.show {
    display: block;
}
.hide {
    display: none;
}


/* FILTER  */
.cars.filtered li:not(.selected) {
    display: none;
}

/* LIST ENTRIES */
li {
    padding: 0.0625rem 0;
}
li:not(#now) {
    cursor: pointer;
}
/* .list-entry {} */
.list-entry:not(#now) h2:hover {
    /* text-decoration: underline; */
    color: var(--color-dark-highlight);
}
.active:not(#now > h2), .filter-active {
    text-decoration: underline;
    color: var(--color-dark-highlight);
}
#now {
    cursor: auto;
    color: gray;
    display: block !important;
    /* border-top: solid 1px purple; */
}
/* current last 
border-bottom: solid 1px purple; */

#oo {
    min-width: 3rem;
}


h1, h2 {
    /* font-size: var(--font-size-large); */
    font-size: var(--font-size-base);
}
h3, h4 {
    font-size: var(--font-size-base);
}

p {
    margin: 0;
    padding: 0;
}



a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}

button, label {
    background-color: inherit;
    border: none;
    color: inherit;
    padding: 0.25rem;
    /* border: 1px solid #ccc; */
}
label input {
    /* display: none; */
}
button:hover, label:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgb(34, 34, 34);
}

img {
    max-width: 768px;
}
/* #list img {} */
.full-height {
    height: 100vh;
    width: auto;
    max-width: unset;
}


/* work pages */
#info {
    margin-bottom: 1rem;
}