
/* CSS Variables */
:root {
    /* --font-size-base: 16px; */
    --font-size-base: 1.4vw;
    --font-size-small: 0.75rem;
    --font-size-large: 2rem;
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, "Helvetica Neue", sans-serif;
    --font-family-monospace: "Roboto Mono", Menlo, monospace;
    --font-family-sans-1: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --font-family-sans-2: Verdana, Geneva, Tahoma, sans-serif;
    --body-max-width: 1440px;
    --footer-height: 6em;
    --main-padding: 1rem;
    --main-margin: 4rem;
    --purple: #7c39ed;
}
@media screen and (max-width: 1280px) {
    :root {
        --font-size-base: 18px;
    }
}
@media screen and (max-width: 768px) {
    :root {
        --main-margin: 0rem;
    }
}


body {   
    --text-color: black;
    --bg-color: white;
    --highlight-color: rgb(30, 30, 30);
    --shadow-color: sandybrown;
}
body.dark-mode {
    --text-color: #dadada;
    /* --bg-color: #121212; */
    --bg-color: rgb(30, 30, 30);
    --highlight-color: white;
    --shadow-color: lemonchiffon;
}
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --text-color: #dadada;
        --bg-color: rgb(30, 30, 30);
        --highlight-color: white;
        --shadow-color: lemonchiffon;
    }
    body.light-mode {
        --text-color: black;
        --bg-color: white;
        --highlight-color: rgb(30, 30, 30);
        --shadow-color: sandybrown;
    }
}

html {
    font-size: var(--font-size-base);
}
body {
    font-family: var(--font-family-monospace);
    /* hyphens: auto; */
    color: var(--text-color);
    background-color: var(--bg-color); 
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    min-height: var(--footer-height);
    padding: var(--main-padding) calc(var(--main-margin) + var(--main-padding));
    background-color: inherit;
    font-size: var(--font-size-small);
    border-top: 1px solid gray;
}

footer div {
    display: inline;
}
.filters {
    display: block;
}
@media screen and (max-width: 768px) {
    .filters {
        display: none;
    }
}

main {
    min-height: 100vh;
    margin-bottom: calc(var(--main-margin) + var(--footer-height));
    /* margin: var(--main-margin) 0 calc(var(--main-margin) + var(--footer-height)) 0; */
}
.subpage main {
    max-width: var(--body-max-width);
    margin: 0 var(--main-margin) calc(var(--main-margin) + var(--footer-height)) var(--main-margin);
    padding: var(--main-padding);
}


/* LIST  */

ul#list.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

/* LIST ENTRIES */

li {
    max-width: var(--body-max-width);
    /* padding: 0.0625rem 0; */    
    padding: 0.5rem calc(var(--main-padding) + var(--main-margin));
    border-bottom: 1px solid gray;
}
/* li:first-child {
    border-top: 1px solid gray;
} */

#list.filtered li:not(.selected) {
    display: none;
}
li:not(#now) h2 {
    cursor: pointer;
}
#now {
    color: gray;
    display: block !important;
}
#oo {
    min-width: 3rem;
}


/* .title-index, .title {
} */

.title {
    margin: 0 0 var(--main-padding) 0;
    /* display: block; */
}

.info {
    display: none;
}
.show {
    display: block;
}
.hide {
    display: none;
}


.info, .lead-text, .body-text, .caption {
    font-size: var(--font-size-small);
}
.lead-text, .body-text {
    max-width: 600px;
}
.info, .body-text, .caption {
    margin: var(--main-padding) 0 2rem 0;
}
.body-text {
    margin-top: 2rem;
}



img, audio {
    /* margin: var(--main-padding) 0; */
    margin: 2rem 0 var(--main-padding) 0;
}


h1, h2, h3, h4 {
    font-size: var(--font-size-base);
}


a {
    /* text-decoration: none; */
    text-decoration: underline gray 1px;
    color: inherit;
    /* color: var(--purple); */
    word-break: break-all;
}
.external-link, .internal-link {
    display: inline-block;
    margin-top: 1em;
}
footer a {
    word-break: normal;
}

button, label, footer span {
    background-color: inherit;
    border: none;
    color: inherit;
    padding: 0 0.25rem 0 0;
    /* border-right: 1px solid var(--text-color); */
}
label input {
    display: none;
}
/* #expand {
    min-width: 110px;
} */

/* HOVER / ACTIVE styles */
a:hover {
    color: var(--highlight-color);
    /* text-decoration: underline gray 1px; */
}
button:hover, label:hover {
    cursor: pointer;
}
.list-entry:not(#now) h2:hover, button:hover, label:hover, .active:not(#now > h2), .filter-active {
    color: var(--highlight-color);
    text-shadow: var(--shadow-color) 1px 0 1em;
}



img {
    cursor: zoom-in;
}
img.landscape {
    max-width: 600px;
    height: auto; 
}
img.portrait {
    max-height: calc(100vh - var(--footer-height));
    width: auto;
}
img.gif {
    max-width: 600px;
    height: auto; 
}
.full-size {
    cursor: zoom-out;
}
.landscape.full-size {
    max-height: unset;
    max-width: unset;
    width: auto;  
    height: 100vh;
}
.portrait.full-size {
    max-height: unset;
    max-width: unset;
    width: 100vw;  
    height: auto;
}
@media screen and (max-width: 768px) {
    img.portrait {
        width: 100%;
        height: auto;
    }
    .portrait.full-size {
        max-height: unset;
        max-width: unset;
        width: auto;  
        height: 100vh;
    }
}


audio, video { display: block; }
@media screen and (max-width: 375px) {
    audio { width: 100%; }
}
video {
    width: 100%;
    max-width: 600px;
    height: auto;
}



/* work pages */

#info {
    margin-bottom: 1rem;
}