<!DOCTYPE html>
<html lang="en">
{% include "partials/head.njk" %}
<body class="subpage">
    <main>
		{{ content | safe }}
	</main>
	<footer>
        <div>
		{% include "snippets/back-home.njk" %}
        </div>
	</footer>
	{% set js %}
        {% include "assets/js/stefankarrer-net.js" %}
    {% endset %}
    <script defer>
        {{ js | jsmin | safe }}
    </script>
</body>
</html>