<!DOCTYPE html>
<html lang="en">
{% include "partials/head.njk" %}
<body>
	{{ content | safe }}
    {# {% include "partials/footer.njk" %} #}
    {# {% set js %}
        {% include "js/stefankarrer-net.js" %}
    {% endset %}
    <script defer>
        {{ js | jsmin | safe }}
    </script> #}
    <script src="assets/js/stefankarrer-net.js"></script>
    <script src="assets/js/www.js"></script>
</body>
</html>