body {
    width: 600px;
    /* min-height: 100vh; */
    margin: auto;
    padding: 1rem 0 0 0;
    font-size: 14px;
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}
p {
    margin: 0;
    padding: 0;
}