---
layout: subpage
tags: subpage
pagination:
    data: documentation
    size: 1
    alias: item
    addAllPagesToCollections: true
permalink: "/d/{{ item.slug }}/"
---
{# permalink: "/d/{{ item.title | slug }}/" #}

<h1 class="title">{{ item.title | nl2br }}</h1>
<div class="info-subpage">
    {% if item.lead %}
        <div class="lead-text">{{ item.lead | nl2br | markdown | safe }}</div>
    {% endif %}
</div>

{% if item.embedCode %}
    <div class="embed-media sixteen-ten">{{ item.embedCode | safe }}</div>
{% endif %} 

{% for file in item.linkedFiles %}
    {% if "video" in file.type %}
        <video width="768" height="auto" controls controlsList="nodownload" poster="">
            <source src="{{ file.url }}" type="{{ file.type }}">
        </video>
    {% elseif "audio" in file.type %}
        <audio controls>
            <source src="{{ file.url }}" type="{{ file.type }}">
        </audio>
    {% elseif "image" in file.type %}
        {% if file.width >= file.height %}
            {% set aspectClass = "landscape" %}
        {% else %}
            {% set aspectClass = "portrait" %}
        {% endif %}
        {% set imgLoading = "lazy" %}
        {% if "gif" in file.type %}
            <img class="gif" src="{{file.url}}" alt="{{item.title}}">
        {% else %}
            {% image file.url, item.title, "100vw", imgLoading, aspectClass %}
        {% endif %}
    {% endif %}
    {% if item.linkedCaptionsShow[loop.index0] %}
        {%set caption = item.linkedCaptions[loop.index0] %}
        <div class="caption">{{ caption }}</div>
    {% endif %}
{% endfor %}

{% if item.body %}
    <div class="body-text">{{ item.body | nl2br | markdown | safe }}</div>
{% endif %} 



{% if item.linkedShows %}
    Related shows:<br>
    {% for show in item.linkedShowSlugs %}
        <a href="/d/{{show}}">{{item.linkedShowTitles[loop.index0]}}</a><br>
    {% endfor %}
    <br>
{% endif %}
{% if item.linkedWorks %}
    Related works:<br>
    {% for workSlug in item.linkedWorksSlugs %}
        <a href="/d/{{workSlug}}">{{item.linkedWorksTitles[loop.index0]}}</a><br>
    {% endfor %}
{% endif %}
{% if item.linkedSongs %}
    Playlist:<br>
    {% for songSlug in item.linkedSongsIds %}
        <a href="/d/{{songSlug}}">{{item.linkedSongsTitles[loop.index0]}}</a><br>
    {% endfor %}
{% endif %}


