---
layout: base
title: "shows page stefankarrer.net"
---

<ul id="list">
    {% for item in documentation %}
    {% set listIndex = loop.index %}
        {% if item.website == true %}
            {% if item.type == "event" %}
                <li class="list-entry" id="{{ item.slug }}" data-id="{{ item.slug }}" data-type="{{ item.type }}" data-startdate="{{ item.startdate | timestamp }}" data-enddate="{% if item.enddate %}{{ item.enddate | timestamp }}{% else %}{{ item.startdate | timestamp }}{% endif %}">  
                    <a class="internal-link" href="/d/{{ item.slug | url }}">{{ item.title | safe }}{% if item.location | safe %}<span class="title-comma">&comma;&nbsp;</span>{{ item.location }}{% endif %}{% if item.startdate %}<span class="title-comma">&comma;&nbsp;</span>{{ item.startdate | yearFromDate }}{% endif %}</a>    
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
