---
layout: index
title: "Homepage stefankarrer.net"
---

<ul id="index-list">
    <li>
        <a href="/d/works/">WORKS</a>
    </li>
    <li>
        <a href="/d/shows/">SHOWS</a>
    </li>
    <li>
        <a href="mailto:mail@stefankarrer.net">mail@stefankarrer.net</a>
    </li>
</ul>

<div id="news">
    Upcoming:<br> 
    <a href="https://www.rencontres-arles.com/fr/expositions/view/1051/chants-du-ciel" target="_blank" rel="noopener">Songs of the Sky, Les Rencontres d'Arles</a>
    <br>
    July 4 - September 25, 2022
    <br><br>
    <a href="https://screenwalks.com/" target="_blank" rel="noopener">Screen Walks</a>
    <br>
    July 13, 2022
    <!-- <br>
    Screen Walks is a series of online streams with artists and researchers using the screen as their medium. A collaboration between <a href="https://thephotographersgallery.org.uk/" target="_blank" rel="noopener">The Photographers’ Gallery</a> in London, UK and <a href="https://www.fotomuseum.ch/en/screen-walk/" target="_blank" rel="noopener">Fotomuseum Winterthur</a>, Switzerland.
     -->
    <br><br>
    Recent: <br>
    <a href="https://ausstellungsraum.ch/veranstaltungen/idiot-change-of-wind/" target="_blank" rel="noopener">Idiot Wind of Change</a>
    <br>
    Ausstellungsraum Klingental, Basel <br>
    April 29, 2022, 20:00
</div>
{% for item in twistedThumb %}
    {% set file = item.images[0] %}
    {% if file.width >= file.height %}
        {% set aspectClass = "landscape" %}
    {% else %}
        {% set aspectClass = "portrait" %}
    {% endif %}
    {% set imgLoading = "lazy" %}
        <figure class="twisted-thumb">
            {% image file.url, item.name, "100vw", imgLoading, aspectClass %}
            <figcaption class="caption">
                <blockquote>{{item.caption}}</blockquote>
                {% if item.info %}
                <br>
                {{item.info}}
                {% endif %}
            </figcaption>
        </figure>
{% endfor %}