---
layout: index
title: "Homepage stefankarrer.net"
---

<ul id="index-list">
    <li>
        <a href="/d/works/">WORKS</a>
    </li>
    <li>
        <a href="/d/shows/">SHOWS</a>
    </li>
    <li>
        <a href="mailto:mail@stefankarrer.net">mail@stefankarrer.net</a>
    </li>
</ul>


{% for item in twistedThumb %}
    {% set file = item.images[0] %}
    {% if file.width >= file.height %}
        {% set aspectClass = "landscape" %}
    {% else %}
        {% set aspectClass = "portrait" %}
    {% endif %}
    {% set imgLoading = "lazy" %}
        <figure class="twisted-thumb">
            {% image file.url, item.name, "100vw", imgLoading, aspectClass %}
            <figcaption class="caption">
                <blockquote>{{item.caption}}</blockquote>
                {% if item.info %}
                <br>
                {{item.info}}
                {% endif %}
            </figcaption>
        </figure>
{% endfor %}