---
layout: base
pagination:
    data: all
    size: 1
    alias: item
permalink: "/d/{{ item.slug }}/"
---
{# permalink: "/d/{{ item.title | slug }}/" #}


 <div class="info-subpage">
    <h1 class="title">{{ item.title }}{% if item.location %}, {{ item.location }}{% endif %}</h1>
    {% if item.lead %}
        <div class="lead-text">{{ item.lead | nl2br | markdown | safe }}</div>
    {% endif %}
</div>

{% if item.body %}
    <div class="body-text">{{ item.body | nl2br | markdown | safe }}</div>
{% endif %} 


{% for file in item.linkedFiles %}
    {% if "image" in file.type %}
        {% if item.featured %} 
            {% set imgLoading = "eager" %}
        {% else %}
            {% set imgLoading = "lazy" %}
        {% endif %}
        {% image file.url, item.title, "100vw", imgLoading %}
    {% elseif "video" in file.type %}
        <video width="768" height="auto" controls controlsList="nodownload" poster="">
            <source src="{{ file.url }}" type="{{ file.type }}">
        </video>
    {% elseif "audio" in file.type %}
        <audio controls>
            <source src="{{ file.url }}" type="{{ file.type }}">
        </audio> 
    {% endif %}
    {% if item.linkedCaptionsShow[loop.index0] %}
        {%set caption = item.linkedCaptions[loop.index0] %}
        <div class="caption">{{ caption }}</div>
    {% endif %}
{% endfor %}

{# {% if item.videofiles %}
    {% set videofile = item.videofiles[0] %}    
    <video width="768" height="auto" controls controlsList="nodownload" poster="">
    <source src="{{ videofile.url }}" type="{{ videofile.type }}">
	</video>
{% endif %}

{% if item.audiofiles %}
    {% for audiofile in item.audiofiles %}
        <audio controls>
            <source src="{{ audiofile.url }}" type="{{ audiofile.type }}">
        </audio> 
    {% endfor %}
{% endif %}

{% if item.images %}
    <div class="images-container">
    {% for image in item.images %}
        {% image image.url, item.title, "100vw" %}
    {% endfor %}
    </div>
{% endif %} #}
