---
layout: base
pagination:
    data: all
    size: 1
    alias: item
permalink: "/d/{{ item.slug }}/"
---
{# permalink: "/d/{{ item.title | slug }}/" #}


 <div class="info-subpage">
    <h1 class="title">{{ item.title }}{% if item.location %}, {{ item.location }}{% endif %}</h1>
    {% if item.lead %}
        <div class="lead-text">{{ item.lead | nl2br | markdown | safe }}</div>
    {% endif %}
</div>

{% if item.body %}
    <div class="body-text">{{ item.body | nl2br | markdown | safe }}</div>
{% endif %} 

{% if item.videofiles %}
    {% set videofile = item.videofiles[0] %}    
    <video width="768" height="auto" controls controlsList="nodownload" poster="">
    <source src="{{ videofile.url }}" type="{{ videofile.type }}">
	</video>
{% endif %}

{% if item.audiofiles %}
    {% for audiofile in item.audiofiles %}
        <audio controls>
            <source src="{{ audiofile.url }}" type="{{ audiofile.type }}">
        </audio> 
    {% endfor %}
{% endif %}

{% if item.images %}
    <div class="images-container">
    {% for image in item.images %}
        {% image image.url, item.title, "100vw" %}
        {# <div class="caption">{{ image.filename }}</div> #}
    {% endfor %}
    </div>
{% endif %}
