<footer>
    <span id="filter-works">Works</span>, <span id="filter-events">Events</span>, <span id="filter-type-all">All</span> //
    <span id="filter-past">Past</span>, <span id="filter-current">Current</span>, <span id="filter-future">Future</span> // 
    <span id="list-view">List view</span>, <span id="paragraph-view">Paragraph view</span>, <span id="expand">Expand all</span>, <span id="collapse">Collapse all</span> //
    <a href="mailto:mail@stefankarrer.net">mail[at]stefankarrer.net</a>
</footer>