<footer>
    <div class="filters">
        <label>
            <input type="checkbox" name="make" value="work">Work
        </label>
        <label>
            <input type="checkbox" name="make" value="event">Event
        </label>
        <label>
            <input type="checkbox" name="year" value="future">Upcoming
        </label>
        <label>
            <input type="checkbox" name="year" value="present">Current
        </label>
        <label>
            <input type="checkbox" name="year" value="past">Past
        </label>
    </div>
    <div class="match-count"></div>
    <button id="expand">Expand</button>
    <a href="mailto:mail@stefankarrer.net">mail[at]stefankarrer.net</a>
</footer>