<footer>
    <div id="search">
        <input type="text" id="search-input" placeholder="Search..">
    </div>
    <div><button id="expand"></button></div>
    <div><button class="mode-btn">Color Mode</button></div>
    <div><a href="mailto:mail@stefankarrer.net">mail[at]stefankarrer.net</a></div>
    <div class="filters">
        <label>
            <input type="checkbox" name="tense" value="future">Upcoming
        </label>
        <label>
            <input type="checkbox" name="tense" value="present">Current
        </label>
        <label>
            <input type="checkbox" name="tense" value="past">Past
        </label>
        <label>
            <input type="checkbox" name="type" value="event">Events
        </label>
        <label>
            <input type="checkbox" name="type" value="work">Works
        </label>
        <div><span class="match-count"></span></div>
    </div>
</footer>